language: go

# USE THIS alongside makefile tag detection: $TRAVIS_TAG

go: 
 - 1.10.x      # last version
 - 1.11.x      # current version

# Speed up git clones
git:
  depth: 1


# Anything in before_script that returns a nonzero exit code will
# flunk the build and immediately stop. It's sorta like having
# set -e enabled in bash. 
before_script:
  - travis_retry go get github.com/golang/lint/golint                                   # Linter
  - travis_retry go get honnef.co/go/tools/cmd/megacheck                                # Badass static analyzer/linter
  - travis_retry go get github.com/golang/dep/cmd/dep                                   # golang package manager
  # - travis_retry go get github.com/fzipp/gocyclo                                       # Not sure what this is


  # Fetch dependencies
  - travis_retry dep ensure


script:
  - env                                       # Dump the env to make debugging easier
  - diff -u <(echo -n) <(go fmt ./)           # Fail if a .go file hasn't been formatted with 'go fmt'
  - go vet ./...        "                     # go vet is the official Go static analyzer

  - go test -v -race ./...                    # Run all the tests with the race detector enabled
  - megacheck ./... || echo "FAILURE"                           # "go vet on steroids" + linter
  - golint -set_exit_status $(go list ./...) || echo "FAILURE"  # one last linter
  # - gocyclo -over 19 $GO_FILES               # forbid code with huge functions


  # Full compile test
  - go build
  - ./mailman || echo "failure"


# after_success:
#  - bash <(curl -s https://codecov.io/bash)
